@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  @apply bg-black text-white;
}

.btn {
  @apply px-4 py-2 rounded-md bg-black text-white block w-3/5 my-2 mx-auto;
}
.tips {
  @apply p-2 bg-black text-white shadow shadow-gray-500 my-2;
}
.news-item{
  @apply flex flex-col gap-2 p-2 shadow shadow-gray-300;
}
.news-item .title {
  @apply text-xl;
}

.news-item .desc {
  @apply text-gray-600;
}
:root {
  --adm-color-primary: #000000;
  --adm-color-success: #00b578;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;

  --adm-color-white: #ffffff;
  --adm-color-text: #333333;
  --adm-color-text-secondary: #666666;
  --adm-color-weak: #999999;
  --adm-color-light: #cccccc;
  --adm-color-border: #eeeeee;
  --adm-color-box: #f5f5f5;
  --adm-color-background: #ffffff;

  --adm-font-size-main: var(--adm-font-size-5);

  --adm-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
  helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
  'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}
